/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



body {
    background-color: #475569;
    
}

header {
    background-color: #1e293b;
    height: 80px;
    box-shadow: 0 8px 4px #334155;

    button{
        color:#94a3b8;
        height: 50px;
        width: 120px;
        background-color: #475569;
        font-weight: bold;
        border-radius: 0 0 12px 12px;
    }

    button:hover{
        background-color: #94a3b8;
        color: #475569;
    }
    button:active{
        transform: scale(0.98);
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.content {
    display: grid;
}